* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 1rem;
}

body {
  font-family: "Open Sans", sans-serif;
  color: rgb(27, 45, 82);
  background-image: url(https://source.unsplash.com/m4sGYaHYN5o);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.game {
  background-color: rgba(255, 255, 255, 0.884);
  max-width: 60vw;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.instruction {
  width: 85%;
  text-align: center;
}

.gameOver {
  background-color: rgb(221, 162, 162);
  min-width: 60vw;
  min-height: 50vh;
  max-width: 60vw;
  position: absolute;
  padding: 1rem;
  /* Can also use visibility */
  display: none;
}

.gameOverHeading {
  align-self: center;
  margin: 1rem;
}

.gameOverText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showGameOver {
  display: flex;
  flex-direction: column;
}

.scoreResult {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
}

.close {
  align-self: flex-end;
  font-size: 1.5rem;
  height: 2rem;
  width: 2rem;
  margin-bottom: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h1 {
  font-size: 3rem;
  margin: 1rem;
}

#score {
  font-size: 2rem;
  margin: 1rem;
}

button {
  text-decoration: none;
  border: none;
}

.gameButton {
  padding: 3rem;
  border-radius: 100%;
  margin: 1rem;
  border: none;
  background-color: rgba(78, 44, 38, 0.692);
  text-decoration: none;
}

.gameButtons {
  flex-wrap: wrap;
  text-align: center;
}

.startStopButtons {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin: 1rem;
  background-color: rgb(224, 173, 224);
  color: rgba(41, 21, 18, 0.692);
}

.chosenButton {
  padding: 3rem;
  border-radius: 100%;
  margin: 1rem;
  border: none;
  background-image: url("dice.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

@media (max-width: 576px) {
  .gameButton {
    padding: 1.5rem;
    margin: 0;
  }

  .instruction {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
  }

  #score {
    font-size: 1rem;
    margin: 0;
    text-align: center;
    margin-bottom: 1rem;
  }

  .gameButtons {
    margin-bottom: 1rem;
  }

  .gameOver {
    position: absolute;
    max-width: 90vw;
    max-height: 90vh;
  }

  .startStopButtons {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  .game {
    max-width: 80vw;
    padding: 1rem;
  }
}
